openapi: 3.2.0
info:
  title: Lattice Talent Departments API
  description: REST API for Lattice's Talent product suite covering users, departments, goals, OKRs, performance review cycles, reviewees, reviews, continuous feedback, competencies, and tags. Uses cursor-based pagination and Bearer token authentication.
  version: v1
  contact:
    name: Lattice Developer Support
    email: customercare@lattice.com
    url: https://developers.lattice.com
  termsOfService: https://lattice.com/legal/terms-of-service
  license:
    name: Proprietary
    url: https://lattice.com/legal/terms-of-service
servers:
- url: https://api.latticehq.com/v1
  description: Lattice Talent API v1 production server
security:
- BearerAuth: []
tags:
- name: Departments
  description: Manage and retrieve department records
paths:
  /departments:
    get:
      summary: List departments
      operationId: listDepartments
      tags:
      - Departments
      description: Returns a paginated list of all departments in Lattice.
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/startingAfter'
      responses:
        '200':
          description: Paginated list of departments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'
  /department/{id}:
    get:
      summary: Get department by ID
      operationId: getDepartment
      tags:
      - Departments
      description: Returns a department with the given id. If cannot find department, returns a 404.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The department identifier
      responses:
        '200':
          description: Department object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Department:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        url:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
          description: Markdown-formatted description
        createdAt:
          type: integer
          description: Unix timestamp
      required:
      - id
      - object
      - url
      - name
      - createdAt
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
      required:
      - error
    DepartmentList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Department'
        required:
        - data
    PaginatedList:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
        hasMore:
          type: boolean
          description: Whether or not there are more elements available after this set
        endingCursor:
          type:
          - string
          - 'null'
          description: The cursor to use to get the next set of items in the list
      required:
      - object
      - hasMore
  responses:
    ServerError:
      description: Server error while processing request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Could not find the requested resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Unprocessable - request is syntactically valid but cannot be processed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        format: int32
      description: Maximum number of items to return per page
    startingAfter:
      name: startingAfter
      in: query
      required: false
      schema:
        type: string
      description: Cursor for fetching the next page of results
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a Bearer token in the Authorization header. Example: Authorization: Bearer <your-api-key>

        '
