openapi: 3.2.0
info:
  title: Lattice Talent Me API
  description: REST API for Lattice's Talent product suite covering users, departments, goals, OKRs, performance review cycles, reviewees, reviews, continuous feedback, competencies, and tags. Uses cursor-based pagination and Bearer token authentication.
  version: v1
  contact:
    name: Lattice Developer Support
    email: customercare@lattice.com
    url: https://developers.lattice.com
  termsOfService: https://lattice.com/legal/terms-of-service
  license:
    name: Proprietary
    url: https://lattice.com/legal/terms-of-service
servers:
- url: https://api.latticehq.com/v1
  description: Lattice Talent API v1 production server
security:
- BearerAuth: []
tags:
- name: Me
  description: Retrieve information about the authenticated user
paths:
  /me:
    get:
      summary: Get authenticated user
      operationId: getMe
      tags:
      - Me
      description: Returns information about the current user associated with the provided API token.
      responses:
        '200':
          description: Authenticated user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Server error while processing request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Could not find the requested resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Unprocessable - request is syntactically valid but cannot be processed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
      required:
      - error
    ListReference:
      type: object
      description: A reference to a paginated list of related objects
      properties:
        object:
          type: string
          enum:
          - list
        url:
          type: string
      required:
      - object
      - url
    User:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        url:
          type: string
        name:
          type:
          - string
          - 'null'
        preferredName:
          type:
          - string
          - 'null'
        email:
          type: string
          format: email
        title:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - ACTIVE
          - INVITED
          - CREATED
          - DEACTIVATED
        isAdmin:
          type: boolean
        externalUserId:
          type:
          - string
          - 'null'
        manager:
          $ref: '#/components/schemas/ObjectReference'
        department:
          $ref: '#/components/schemas/ObjectReference'
        directReports:
          $ref: '#/components/schemas/ListReference'
        tasks:
          $ref: '#/components/schemas/ListReference'
        customAttributes:
          $ref: '#/components/schemas/ListReference'
        timezone:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date
        birthDate:
          type:
          - string
          - 'null'
          format: date
        gender:
          type:
          - string
          - 'null'
        jobFunction:
          type:
          - string
          - 'null'
        jobLevel:
          type:
          - string
          - 'null'
        jobType:
          type:
          - string
          - 'null'
        createdAt:
          type: integer
          description: Unix timestamp
        updatedAt:
          type: integer
          description: Unix timestamp
      required:
      - id
      - object
      - url
      - email
      - status
      - isAdmin
      - directReports
      - tasks
      - customAttributes
    ObjectReference:
      type: object
      description: A lightweight reference to another Lattice object
      properties:
        id:
          type: string
        object:
          type: string
        url:
          type: string
      required:
      - id
      - object
      - url
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a Bearer token in the Authorization header. Example: Authorization: Bearer <your-api-key>

        '
