openapi: 3.2.0
info:
  title: Lattice Talent Competencies API
  description: REST API for Lattice's Talent product suite covering users, departments, goals, OKRs, performance review cycles, reviewees, reviews, continuous feedback, competencies, and tags. Uses cursor-based pagination and Bearer token authentication.
  version: v1
  contact:
    name: Lattice Developer Support
    email: customercare@lattice.com
    url: https://developers.lattice.com
  termsOfService: https://lattice.com/legal/terms-of-service
  license:
    name: Proprietary
    url: https://lattice.com/legal/terms-of-service
servers:
- url: https://api.latticehq.com/v1
  description: Lattice Talent API v1 production server
security:
- BearerAuth: []
tags:
- name: Competencies
  description: Retrieve competencies
paths:
  /competency/{id}:
    get:
      summary: Get competency by ID
      operationId: getCompetency
      tags:
      - Competencies
      description: Returns a competency with the given id. If cannot find competency, returns a 404.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The competency identifier
      responses:
        '200':
          description: Competency object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competency'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Server error while processing request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Could not find the requested resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Unprocessable - request is syntactically valid but cannot be processed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
      required:
      - error
    Competency:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
      required:
      - id
      - object
      - name
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a Bearer token in the Authorization header. Example: Authorization: Bearer <your-api-key>

        '
